
*{
  padding: 0;
  margin: 0;
}

html{

  font-size: 62.5%;
}

#quote-box{

  position: absolute;
  margin-top: 25rem;
  margin-left: 34vw;
  width: 60rem;
  height: 35rem;
  
  background-color: white;
  /* box-shadow: 0 0 2rem rgb(105, 105, 105); */
}


.midDiv{
  margin-top: 0rem;
  padding-top: 15rem;
  background-color: white;
  width: 65rem;
  height: 8rem;

}


#new-quote{
}

#tweet-quote{
  position: absolute;
  padding-top: 0rem;
  padding-left: 08rem;
  color: white;
}

.btn{
  width: 10rem;
  height: 4rem;
  border-radius: 3%;
  margin-left: 50rem;
  font-size: 1.5rem;
  cursor: pointer;
}

#text{
  text-align: center;
  font-size: 3rem;
  padding-top: 1rem;
}
